.game-container {
    width: 600px;
    height: 100px;
    margin-bottom: 20px;
    border: 1px dashed #eb00bc;;
    text-align: left;
}

.game-container:hover {
    -webkit-box-shadow: 4px 5px 5px -4px #eb00bc;
    -moz-box-shadow: 4px 5px 5px -4px #eb00bc;
    box-shadow: 4px 5px 5px -4px #eb00bc;
}

.game-container a.game-link {
    text-decoration: none;
    cursor: url('../assets/images/controller.png'), auto;
}

.game-title-container {
    visibility: hidden;
}

.game-container:hover .game-title-container {
    visibility: visible;
}

.game-title {
    padding: 10px;
    background: rgb(0 0 0 / 67%);
    color: #ffffff;
    text-decoration: none;
    font-family: 'Lunchtime';
}