@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

@font-face {
  font-family: 'Lunchtime';
  src: url('./assets/fonts/lunchds.ttf') format('truetype');
}

@font-face {
  font-family: 'Manaspace';
  src: url('./assets/fonts/manaspc.ttf') format('truetype');
}

*{
  -webkit-user-select: none;
  user-select: none;
}

html, body {
  background: #000000;
  color: #ffffff;
  background-color: #000000;
  opacity: 1;
  background-image:  url('./assets/images/patternV2.png');
  background-position:  8px 0, 8px 0, 0 0, 0 0;
  background-size: 128px 128px;
  background-repeat: repeat;
  background-attachment: fixed;
  cursor:  url('./assets/images/expand_icon.png'), auto;
}

body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-container {
  bottom: 11px;
  position: fixed;
  float: right;
  right: 5px;
}
