.sidebar {
    border-right: dashed 2px #2171c8;
    padding: 0px 12px 0px 4px;
    margin-bottom: 16px;
    width: 352px;
    position: fixed;
    left: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    top: 0px;
    height: 100vh;
}

.main-content {
    border-left: 0;
    width: 650px;
    padding-bottom: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    position: absolute;
    left: 380px;
}